.app-download {
  font-size: max(1.2vw, 20px);
  font-weight: 500;
  width: 100%;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
}

.app-download-platforms {
  width: 100%;
  display: flex;
  gap: max(2vw, 10px);
  margin-top: 30px;
}

.app-download-platforms img {
  width: max(20vw, 80px);
  max-width: 135px;
  transition: 0.5s;
  cursor: pointer;
}

.app-download-platforms img:hover {
  transform: scale(1.05);
}
